.form_status_incorrect
{
    animation: shake 0.3s ease-in both;
    box-shadow: 0px 0px 25px #F22;
    background-color: #f44;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }
    10% {
        transform: translate3d(4px, 0, 0);
    }
    20% {
        transform: translate3d(-4px, 0, 0);
    }
    30% {
        transform: translate3d(3px, 0, 0);
    }
    40% {
        transform: translate3d(-3px, 0, 0);
    }
    50% {
        transform: translate3d(2px, 0, 0);
    }
    60% {
        transform: translate3d(-1px, 0, 0);
    }
    70% {
        transform: translate3d(0, 0, 0);
    }
 }
